// Ganti dengan API key asli, tetapi jangan commit file `secrets.dart` yang asli
class Secrets {
  static const String cloudinaryApiKey = "your_api_key_here";
  static const String cloudinaryApiSecret = "your_api_secret_here";
  static const String cloudinaryCloudName = "your_cloud_name_here";
}
